.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store

.Rprofile
.gitattributes
_workflowr.yml
dashboard.Rproj

analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs

workflowr.R
